<ion-toolbar>
  <p>My shop</p>
</ion-toolbar>

<ion-content >

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Catégorie</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <div  (click)="resetCategoryMode()">
        Retirer le filtre
      </div>
     
    </ion-content>
    <ion-content  *ngFor="let category of categories">
      <div  (click)="selectCategory(category.category)">
        {{category.traduction }}
      </div>
     
    </ion-content>
  </ion-menu >
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-card *ngFor="let product of products" style="margin-top: 5em ;">
    <img alt="Silhouette of mountains" [src]="product.images[0]" />
    <ion-card-header>
      <ion-card-title>{{product.title}}</ion-card-title>
      <ion-card-subtitle>{{product.brand}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     {{product.description}}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" *ngIf="!categoryMode">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
